<%= form_tag echo_path, class: "form" do %>
  <%= hidden_field_tag :template, File.basename(__FILE__) %>

  <div class="challenge">
    <p>Make the category checkboxes come through as a hash in <code>params[:organization][:categories]</code></p>

    <p>
      <%= content_tag(:code, { 'organization' => { 'categories' => { "Automotive" => "1", "Education" => "1", "Finance" => "1"}}}) %>
    </p>
  </div>

  <strong>Actual params are:</strong>
  <p class="answer">
    <%= content_tag(:code, @params_to_print) %>
  </p>

  <fieldset>
    <legend>Categories</legend>
    <div>
      <% %w(Automotive Technology Education Science Finance Pharmaceutical).each_with_index do |category, index| %>
        <label class="checkbox">
          <!-- BEGIN CHANGES -->
          <input type="checkbox" <%= index.even? ? "checked" : nil %> name="organization[categories]<%= category %>]" value="1" />
          <!-- END CHANGES -->
          <%= category %>
        </label>
      <% end %>
    </div>

  </fieldset>

  <%= submit_tag 'Submit' %>

<% end %>